<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FirstHomework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>14F4D28C1BBC668900E27B18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14F4D2A51BBC668900E27B18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14F4D2B01BBC668900E27B18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
